---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: post.njk
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "{{ tag | capitalize  }} Posts" 
permalink: /tags/{{ tag }}/
---

<div class="posts">
    {% for post in collections[ tag ] %}
        <a href={{post.url}}>
            <span class="title">{{post.data.title}}</span>
            <div class="meta">
                <span class="date">{{post.date | date}}</span>
                <div class="tags">
                    {%- for tag in post.data.tags -%}
                        <span class="tag">{{tag | capitalize}}</span>
                    {%- endfor -%}    
                </div>
            </div>
        </a>
    {% endfor %}
</div>