<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>

        <meta name="description" content="Coding, Gaming and Whatever">
        <meta name="author" content="Andy Fry">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <main>
            <div class="content">
                {% block main %}
                {% endblock %}
            </div>
        </main>
        
        <div id="sidebar">
            <div class="content">
                <a href="/" class="logo">
                    <h1 class="title">Andrew Dale Fry</h1>
                    <h2 class="tag-line">Coding and Whatever</h2>
                </a>

                <nav id="sections" style="display: none;">
                    <ul>
                        <li>
                            <a {% if page.url.startsWith('/about/') %} class="active" {% endif %} href="/about">about</a>
                        </li>
                        <li>
                            <a {% if page.url.startsWith('/coding/') %} class="active" {% endif %} href="/coding">coding</a>
                        </li>
                    </ul>
                </nav>

                {% block sidebar %}
                {% endblock %}

                {% include "contact.html" %}
                <p class="copyright">&copy; 2020 Andrew Dale Fry</p>
            </div>
        </div>

    </body>