{% extends "base.njk" %}

{% block main %}
    <h1>{{title}}</h1>
    <h2>
        <span class="label">Published:</span><span class="date">{{page.date | date}}</span>
    </h2>
    {{content | safe}}
{% endblock %}

{% block sidebar %}
    <nav class="pages">
        <ul>
            {% for codingPage in collections.coding %}
                <li>
                    <a {%if codingPage.url === page.url%} class="active" {% endif%} href="{{codingPage.url}}">{{codingPage.data.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}