<div class="contact">
    
    <span class="contact__label">Email: </span>
    <a href="mailto: AndrewDaleFry@gmail.com">
                <span>AndrewDaleFry@gmail.com</span></a>
    <ul class="contact__list">
        <li>
            <a href="https://www.youtube.com/channel/UCf_kPpwLc2tdc2EnqPvC3Sw">
                <span class="contact__title">youtube</span><img src="/images/social-media/youtube.png"></a>
        </li>
        <li>
            <a href="http://twitch.com/andrewdalefry">
                <span class="contact__title">twitch</span><img src="/images/social-media/twitch.png"></a>
        </li>
        <li>
            <a href="https://github.com/andyfry/">
                <span class="contact__title">github</span><img src="/images/social-media/github.png"></a>
        </li>
        <li>
            <a href="https://twitter.com/andyfry13">
                <span class="contact__title">twitter</span><img width=64 height=64 src="/images/social-media/twitter.png"></a>
        </li>
    </ul>
</div>