{% extends "base.njk" %}

{% block main %}
    {{content | safe}}
{% endblock %}

{% block sidebar %}
    <div class="placeholder selfie">
        <img src="images/selfie.jpg">
    </div>
    <p>
        Welcome to my personal site where you will find information about computers, coding and whatever catches my attention.
        For my gaming site, please visit <a href="https://rexlusc.us">rexlusc.us</a>.
    </p>
{% endblock %}