{% extends "base.njk" %}

{% block main %}
    {{content | safe}}
{% endblock %}

{% block sidebar %}
    <div class="placeholder selfie">
        <img src="images/selfie.jpg">
    </div>
    <p>Welcome to my site where I can share my ideas about coding, gaming and whatever else catches my
                attention.</p>
{% endblock %}