{% extends "base.njk" %}

{% block main %}
    <h1>{{title}}</h1>
    <h2>
        <span class="label">Published:</span><span class="date">{{page.date | date}}</span>
    </h2>
    {{content | safe}}
{% endblock %}

{% block sidebar %}
    <nav class="pages">
        <ul>
            {% for metaPage in collections.meta %}
                <li>
                    <a {% if metaPage.url === page.url %} class="active" {% endif %} href="{{metaPage.url}}">{{metaPage.data.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}